<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.gzh.mapper.WxMsgMapper">
    <resultMap id="BaseResultMap" type="com.wx.gzh.entity.msg.WxMsg">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="VARCHAR" property="uid" />
        <result column="to_user_name" jdbcType="VARCHAR" property="ToUserName" />
        <result column="from_user_name" jdbcType="VARCHAR" property="FromUserName" />
        <result column="create_time" jdbcType="VARCHAR" property="CreateTime" />
        <result column="msg_id" jdbcType="VARCHAR" property="MsgId" />
        <result column="msg_type" jdbcType="VARCHAR" property="MsgType" />
        <result column="msg_source" jdbcType="INTEGER" property="MsgSource" />
        <result column="msg_key" jdbcType="VARCHAR" property="msgKey" />
        <result column="release1" jdbcType="VARCHAR" property="release1" />
        <result column="release1" jdbcType="VARCHAR" property="release1" />
    </resultMap>
</mapper>