<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.gzh.mapper.WxMsgLinkMapper">
    <resultMap id="BaseResultMap" type="com.wx.gzh.entity.msg.WxMsgLink">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="Title" />
        <result column="description" jdbcType="VARCHAR" property="Description" />
        <result column="url" jdbcType="VARCHAR" property="Url" />
        <result column="msg_id" jdbcType="VARCHAR" property="msgId" />
        <result column="release1" jdbcType="VARCHAR" property="release1" />
        <result column="release1" jdbcType="VARCHAR" property="release1" />
    </resultMap>
</mapper>