<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公司简介</title>
    <script type="text/javascript" src="/js/jquery-3.4.1.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/vue.js" th:src="@{/webjars/vue/2.6.10/dist/vue.min.js}"></script>
</head>
<body>
    <div id="app">
        <h3>{{ msg }}</h3>

    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data() {
                return {
                    msg: '公司简介'
                }
            },
            methods: {

            }
        })
    </script>
</body>
</html>