<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <title>首页</title>
     <meta charset="utf-8">
    <script type="text/javascript" src="../../js/jquery-3.4.1.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" src="../../js/vue.js" th:src="@{/webjars/vue/2.6.10/dist/vue.min.js}"></script>
</head>
<body>

<!--==============================header=================================-->
<header>
	<div class="container_12">
        <nav>
            <div class="container_12">
                <div class="grid_12">
                    <ul class="sf-menu">
                        <li class="current"><a href="#">首页</a></li>
                        <li><a href="">关于我们</a>
                            <ul>
                                <li><a href="#">发展历史</a></li>
                                <li><a href="#">核心产品</a></li>
                                <li><a href="#">常见问题</a></li>
                            </ul>
                        </li>
                        <li><a href="#">项目</a></li>
                        <li><a href="#">服务</a></li>
                        <li><a href="#">联系人</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--============================content================================-->
<div id="content">

</div>
<!--==============================footer=================================-->
<footer>
	<div class="container_12">
		<div class="grid_8">
			<span>重庆普斯克 &copy; 2016 | Privacy Policy | Website  designed by <a href="javascript;" rel="nofollow" target="_blank">www.pusker.com</a></span>
		</div>
	</div>
</footer>

</body>
</html>