<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
    <!--<script src="js/jquery-3.4.1.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}" type="text/javascript"></script>
    <style>
        .content {
            width:800px;
            margin:0 auto;
        }
        .content p {
            height:15px;
            position:relative;
            left:-140%;
            top:0
        }
    </style>-->
<body>
    <div class="content">
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
        <p>如果只是遇见，不能停留，不如不遇见。如果只是遇见，不能停留，不如不遇见。</p>
    </div>

    <script>
        /*for (var i = 0; i < $(".content p").length; i++) {
            $(".content p").eq(i).animate({"left":"0"}, 100*i);
        }*/
    </script>
</body>
</html>