<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../../static/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/toast.css">
    <!-- 开发环境 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--<script type="text/javascript" src="js/index.js"></script>-->

    <!-- 生产环境 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
</head>
<body>
<!-- Vue container-->
    <div id="app" class="container">
        <h3>登陆</h3>
        <transition mode="out-in">
            <router-view></router-view>
        </transition>
        <router-link to="/login" >没有账户?去注册</router-link>
        <router-link to="/register" >已有账户?去登录</router-link>


        <!--<tooltip></tooltip>-->
        <!--<register></register>-->
    </div>

<!-- template login -->
    <template id="login" >
        <div class="login">
            <div class="content">
                <form method="post" action="/web/conn/index">
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" class="form-control" name="username" v-model.trim="username" @change="getVal" placeholder="手机号/系统账号/其他">
                    </div>
                    <div class="form-group">
                        <label>密 码</label>
                        <input type="password" class="form-control" name="password" v-model.trim="password" @change="getVal" placeholder="密码">
                    </div>
                    <button type="button" id="btn-log" class="btn btn-large btn-block" @click="submitLogin">登 陆</button>
                </form>
            </div>
        </div>
    </template>

    <template id="register">
        <div class="register">
            <div class="content">
                <form method="post" action="/web/conn/index">
                    <div class="form-group">
                        <label>用户名</label>
                        <input type="text" class="form-control" name="username" v-model.trim="regUser" placeholder="手机号/系统账号/其他">
                    </div>
                    <div class="form-group">
                        <label>证件号</label>
                        <input type="text" class="form-control" name="idcard" v-model.trim="regID" placeholder="证件号">
                    </div>
                    <div class="form-group">
                        <label>邮 件</label>
                        <input type="text" class="form-control" name="Email" v-model.trim="regEmail" placeholder="邮箱地址">
                    </div>
                    <div class="form-group">
                        <label>密 码</label>
                        <input type="password" class="form-control" name="password" v-model.trim="regPass" placeholder="密码">
                    </div>
                    <div class="form-group">
                        <label>确认密码</label>
                        <input type="password" class="form-control" name="password" v-model.trim="regPassa" placeholder="再次输入">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="wx">绑定微信
                    </div>
                    <button type="submit" id="btn-reg" class="btn btn-large btn-block">注 册</button>
                </form>
            </div>
        </div>
    </template>

<!-- script -->
    <script>
        // 登陆子组件
        let login = {
            template: '#login',
            data() {
                return {
                    username: '',
                    password: ''
                }
            },
            methods: {
                isNotNull(a, b) {
                  if (a && b)
                      return true;
                  return false;
                },
                getVal() {
                    if (this.isNotNull(this.username, this.password)) {
                        let data = [this.username, this.password];
                        this.$emit('func', data);
                    } else {
                        console.log('params is null...');
                    }
                },
                // 登陆
                submitLogin() {
                    if (this.isNotNull(this.username, this.password)) {
                        console.log('come in submit method...');
                        axios.get('/api/conn/user', {
                            params:{
                                username:this.username,
                                password:this.password
                            }
                        }).then(function (data) {
                            if (data === 10001) {
                                // todo
                                console.log(data);
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                    } else {
                        /*this.$refs.tooltip.toast('※参数不能为空※');*/
                        console.log('come in else ');
                    }
                },
                // 注册
                submitRegister() {

                }
            },
            props: ['toolData']
        };

        // 注册子组件
        let register = {
            template: '#register',
            data() {
                return {
                    regUser: '',
                    regPass: '',
                    regPassa: '',
                    regID: '',
                    regEmail: ''
                }
            }
        };

        // 提示框子组件
        /*let tooltip = {
            data() {
                return {
                    toastShow: true,
                    toastText: '提示框'
                }
            },
            template: '<div class="toast" v-show="toastShow">{{ toastText }}</div>',
            methods: {
                toast(str) {
                    let v = this;
                    v.toastText = str;
                    v.toastShow = true;
                    setTimeout(function () {
                        v.toastShow= false
                    }, 1500)
                }
            }
        };*/

        // 路由
        let router = new VueRouter({
            routes:[
                {path:'/', redirect: '/login'},
                {path:'/login', component: login},
                {path:'/register', component: register}
            ]
        });

        // VM实例
        let vm = new Vue({
            el: '#app',
            data: {
                username: ''
            },
            methods: {
                /*submit: function () {
                    let params = this.$refs[''].getVal()
                    console.log(params);
                }*/
                getChildData(data) {
                    this.username = data;
                    console.log('父组件获取到子组件的值: ' + this.username.length);
                }
            },
            /*components: {
                tooltip
            },*/
            router
        })
    </script>
</body>
</html>