<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WX前台管理首页</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <h3>{{ msg }}</h3>
        <header>
            <div>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a href="#" class="navbar-brand logo"><img src="../../images/logo.png" alt="重庆普斯克科技"></a>
                            <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                                <li><a href="index"><span class="glyphicon glyphicon-list"></span> 资讯</a></li>
                                <li><a href="index"><span class="glyphicon glyphicon-fire"></span> 案例</a></li>
                                <li><a href="index"><span class="glyphicon glyphicon-question-sign"></span> 关于</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <footer>
            <div>
                <h3>扫描关注微信公众号</h3>
                <a href="#" class="navbar-brand logo"><img :src="url" alt="重庆普斯克科技"></a>
            </div>
        </footer>
    </div>
<script>
    let vm = new Vue({
        el: '#app',
        data() {
            return {
                msg: 'WX前台管理首页',
                url: 'https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQEK8TwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAybWZSRGQ1WThjUWwxMDAwMGcwNzQAAgTpIBNdAwQAAAAA'
            }
        },
        methods: {

        }
    })
</script>
</body>
</html>